* {
  margin: 0;
  padding: 0;
  font-family: "Microsoft Yahei";
}

@media screen and (max-width: 1349px) {
  body {
    font-size: 8px;
  }
}
@media screen and (min-width: 1350px) and (max-width: 1589px) {
  body {
    font-size: 10px;
  }
}
@media screen and (min-width: 1590px) and (max-width: 1850px) {
  body {
    font-size: 12px;
  }
}
@media screen and (min-width: 1851px) {
  body {
    font-size: 16px;
  }
}
@font-face {
  font-family: 'icomoon';
  src: url("fonts2/icomoon.eot?8488ct");
  src: url("fonts2/icomoon.eot?8488ct#iefix") format("embedded-opentype"), url("fonts2/icomoon.ttf?8488ct") format("truetype"), url("fonts2/icomoon.woff?8488ct") format("woff"), url("fonts2/icomoon.svg?8488ct#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
.icon-books:before {
  content: "\e920";
}

.icon-library:before {
  content: "\e921";
}

.icon-stats-dots:before {
  content: "\e99b";
}

.icon-stats-bars:before {
  content: "\e99c";
}

body {
  background-image: url("../img/GateBg.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top center;
  overflow: hidden;
}
body:after {
  content: "";
  background-image: url("../img/GateGraph.png");
  background-repeat: no-repeat;
  background-size: 100%;
  display: block;
  position: fixed;
  z-index: -999;
  opacity: 0.3;
  width: 100%;
  height: 100%;
  bottom: -22%;
  left: -10%;
  -webkit-animation: movebody 30s linear infinite;
          animation: movebody 30s linear infinite;
}
@-webkit-keyframes movebody {
  0% {
    left: -100%;
  }
  90% {
    left: 0;
  }
  91% {
    opacity: 1;
    left: 0;
    -webkit-transform: rotate3d(1, 0, 0, 0deg);
            transform: rotate3d(1, 0, 0, 0deg);
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
  }
  100% {
    opacity: 0;
    left: 0;
    -webkit-transform: rotate3d(1, 0, 0, 90deg);
            transform: rotate3d(1, 0, 0, 90deg);
  }
}
@keyframes movebody {
  0% {
    left: -100%;
  }
  90% {
    left: 0;
  }
  91% {
    opacity: 1;
    left: 0;
    -webkit-transform: rotate3d(1, 0, 0, 0deg);
            transform: rotate3d(1, 0, 0, 0deg);
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
  }
  100% {
    opacity: 0;
    left: 0;
    -webkit-transform: rotate3d(1, 0, 0, 90deg);
            transform: rotate3d(1, 0, 0, 90deg);
  }
}
.bgcolor {
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.8);
  position: fixed;
  z-index: 999;
  width: 100%;
  top: 0;
}
.bgcolor .choise {
  display: none;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  padding-bottom: 1%;
}
.bgcolor .choise span {
  font-size: 1.2em;
}
.bgcolor .choise p {
  font-size: 1.5em;
  margin-left: 1.5em;
}
.bgcolor .choise label {
  margin-left: 1%;
  cursor: pointer;
}
.bgcolor .choise input {
  width: 1.5em;
  height: 1.5em;
}
.bgcolor .choise button {
  width: 100%;
  margin: 1%;
  font-size: 3em;
}

h1,
h2 {
  text-align: center;
}

h1 {
  font-size: 4.5em;
}

h2 {
  font-size: 2.5em;
  font-weight: normal;
  cursor: pointer;
}
h2:before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e99b";
  padding-right: 1%;
}

#maincontent {
  margin-top: 12%;
}
#maincontent ul {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
  font-size: 3em;
  color: white;
  list-style: none;
  overflow: hidden;
  text-align: center;
}
#maincontent ul li {
  float: left;
  width: 100%;
  font-size: 3em;
  position: fixed;
  bottom: -18%;
  -webkit-animation: bigsmall 5s infinite;
          animation: bigsmall 5s infinite;
}
#maincontent ul li span {
  font-weight: bold;
  color: #ffcc00;
}
@-webkit-keyframes bigsmall {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes bigsmall {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
#maincontent ul:nth-of-type(2), #maincontent ul:nth-of-type(3) {
  /*li:last-child {
      width: 100%;
      text-align: center;
      margin-left: -5%;
      font-size: 1.1em;
  }*/
}

.block {
  display: block;
}

.none {
  display: none;
}

/*# sourceMappingURL=GateMonitor.css.map */