* {
    margin: 0;
    padding: 0;
    font-family: "Microsoft Yahei";
}

body {
    background: #f2f2f2;
}


/*包裹层*/

.warp {
    width: 640px;
    margin: 0 auto;
}


/*头部#4060d1*/

.header {
    background: #800;
    position: fixed;
    height: 95px;
    width: 640px;
    top: 0;
}


/*检索框样式*/




.header .search {
    margin: 0 auto;
    width: 455px;
    height: 55px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background: #fff;
    overflow: hidden;
    margin-top: 20px;
}

.header .search .input {
    background: none;
    border: none;
    padding: 14px 20px;
    width: 340px;
    float: left;
    font-size: 20px;
    outline: none;
}


/*头部图片*/

.pic {
    height: 320px;
    background: url(../img/MyCsln.jpg);
    margin-top: 95px;
}

h1 {
    color: white;
    font-size: 48px;
    line-height: 95px;
    padding-left: 100px;
    text-shadow: 1px 1px 5px black;
}


/*图标层*/

.content {
    margin-bottom: 110px;
    width: 100%;
    overflow: hidden;
    background: white;
}

.list {
    list-style: none;
}

.list li {
    height: 220px;
    float: left;
    background-size: 90px;
}


/*第一排图标*/

.li-1 {
    background: url("../img/1-1.png") 50% 30% no-repeat;
    border-right: 1px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2;
    width: 159px;
}

.li-2 {
    background: url("../img/1-2.png") 50% 30% no-repeat;
    border-right: 1px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2;
    width: 159px;
    ;
}

.li-3 {
    background: url("../img/1-3.png") 50% 30% no-repeat;
    border-right: 1px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2;
    width: 159px;
}

.li-4 {
    background: url("../img/1-4.png") 50% 30% no-repeat;
    border-bottom: 1px solid #e2e2e2;
    width: 160px;
}


/*第二排图标*/

.li-5 {
    background: url("../img/2-1.png") 50% 30% no-repeat;
    border-right: 1px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2;
    width: 159px;
}

.li-6 {
    background: url("../img/2-2.png") 50% 30% no-repeat;
    border-right: 1px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2;
    width: 159px;
}

.li-7 {
    background: url("../img/2-3.png") 50% 30% no-repeat;
    border-right: 1px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2;
    width: 159px;
}

.li-8 {
    background: url("../img/2-4.png") 50% 30% no-repeat;
    border-bottom: 1px solid #e2e2e2;
    width: 160px;
}


/*第三排图标*/

.li-9 {
    background: url("../img/3-1.png") 50% 30% no-repeat;
    border-right: 1px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2;
    width: 159px;
}

.li-10 {
    background: url("../img/3-2.png") 50% 30% no-repeat;
    border-right: 1px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2;
    width: 159px;
}

.li-11 {
    background: url("../img/3-3.png") 50% 30% no-repeat;
    border-right: 1px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2;
    width: 159px;
}

.li-12 {
    background: url("../img/3-4.png") 50% 30% no-repeat;
    border-bottom: 1px solid #e2e2e2;
    width: 160px;
}

a {
    text-decoration: none;
}

.content span {
    display: block;
    height: 100%;
    width: 100%;
    line-height: 320px;
    text-align: center;
    color: #555555;
    font-size: 24px;
    transition: color 0.5s, line-height 0.5s, font-weight 0.5s;
}

.content span:hover {
    color: #4060d1;
    line-height: 300px;
    font-weight: bold;
}


/*底部*/

.footer {
    width: 640px;
    height: 85px;
    background: white;
    position: fixed;
    bottom: 0;
    border-top: 1px solid #e2e2e2;
}

.footer span {
    display: block;
    width: 160px;
    height: 85px;
    text-align: center;
    line-height: 140px;
    color: #444;
    font-size: 20px;
}

.footer li {
    background-size: 50px;
}


/*第一排*/

.list-1 {
    background: url(../img/bottom-1.png) 50% 5px no-repeat;
}

.list-2 {
    background: url(../img/bottom-2.png) 50% 5px no-repeat;
}

.list-3 {
    background: url(../img/bottom-3.png) 50% 5px no-repeat;
}

.list-4 {
    background: url(../img/bottom-4.png) 50% 5px no-repeat;
}
